<div class="card" id="form">
    <div class="align-vert-cardhead-cardbody">
            <div class="card-header" id="CH">
                <p>{{@item.name}}</p>
            </div>
        <div class="card-body">
            <p><u>Address:</u> {{@item.address}}</p>
            <p><u>Phone:</u> {{@item.phone}}</p>
        </div>
    </div>
    <div class="card-footer text-right ">
        <u id="bookNumbers">Number of books: {{@item.books.length}}</u>
        {{yield}}
    </div>
</div>