<div class="card">
    <div class="align-vert-cardhead-cardbody">
            <div class="card-header" id="CH">
                <p data-test="libName">{{@item.name}}</p>
            </div>
        <div class="card-body">
            <p data-test="libAddress"><u>Address:</u> {{@item.address}}</p>
            <p data-test="libPhone"><u>Phone:</u> {{@item.phone}}</p>
        </div>
    </div>
    <div class="card-footer text-right ">
        <p><u id="bookNumbers">Number of books: {{@item.books.length}}</u></p>
        {{yield}}
    </div>
</div>