<h1>Contact Page</h1>
<h4>Get in touch with us</h4>

{{#if model.responseMessage}}
    <br>
    <div class="alert alert-success" id="contactSuccess">
        <h4>Thank you! Your message is sent.</h4>
        <p>To: {{model.email}}</p>
        <p>Message: {{model.message}}</p>
        <p>Reference ID: {{model.id}}</p>
    </div>
{{else}}
    <form class="form-horizontal">
        <div class="form-group has-feedback {{if model.isValidEmail "has-success"}}">
            <div class="col-md-4">
                {{input type="email" value=model.email class="form-control" placeholder="Please type your e-mail address." autofocus="autofocus"}}
                {{#if model.isValidEmail}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
            </div>
        </div>
        <div class="form-group has-feedback {{if model.isLongEnough "has-success"}}">
            <div class="col-md-5">
                {{textarea class="form-control" value=model.message placeholder="Your message. (At least 5 characters.)" rows="7"}}
                {{#if model.isLongEnough}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <button data-test="saveContact" class="btn btn-primary btn-block" disabled={{model.isDisabled}} {{action 'sendContactMessage' model}}>Send message</button>
            </div>
        </div>
    </form>
{{/if}}